parameters:
    level: 5
    paths:
        - app
        - public/index.php
    bootstrapFiles:
        - app/bootstrap.php
        - app/csrf.php
        - app/dns_name.php
        - app/PdnsClient.php
        - app/services.php
        - app/handlers.php
