parameters:
    level: 5
    paths:
        - app
        - public/index.php
    excludePaths:
        - vendor/*
        - views/*
        - tests/*
        - .php-cs-fixer.php
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - app/bootstrap.php
        - app/csrf.php
        - app/dns_name.php
        - app/PdnsClient.php
        - app/services.php
        - app/handlers.php
